.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
}
.App-header {
  background-color: #222;
  float: left;
  display: inline-block;
  height: 60px;
  padding: 10px;
  color: white;
}
.App-title {
  float: right;
  position: relative;
  font-size: 1.5em;
}
.App-intro {
  font-size: large;
}
.options {
  float: left;
  position: relative;
  margin: 30px 0 0 10px;
}
.gametable {
  display: inline-block;
  width: 900px;
  height: 400px;
  padding: 10px;
  border: 30px solid black;
  border-radius: 500px;
  background-color: DarkGreen;
}
.gametable p {
  display: block;
  position: relative;
  margin: -30px 0 10px 0;
}
.deckview {
  float: left;
  position: relative;
  display: block;
  width: auto;
  height: auto;
  margin: 170px 0 0 -3px;
  padding: 0;
}
.playerview {
  display: block;
  float: left;
  position: absolute;
  width: 210px;
  height: 62px;
  padding: 5px;
  margin: 320px 0 0 340px;
  border: 5px solid black;
  border-radius: 10px;
}

.houseview {
  display: block;
  float: left;
  position: absolute;
  width: 210px;
  height: 62px;
  padding: 5px;
  margin: 10px 0 0 340px;
  border: 5px solid black;
  border-radius: 10px;
}
.coin {
  float: left;
  position: absolute;
  display: inline-block;
  width: 14px;
  height: 14px;
  padding: 0;
  margin: 58px 0 0 340px;
  border-radius: 50px;
  background-color: #fd2;
}
.coin p {
  width: 220px;
  position: absolute;
  text-align: left;
  margin: -2px 0 0 20px;
  color: white;
}
.card {
  float: left;
  position: relative;
  display: block;
  width: 33px;
  height: 58px;
  padding: 0;
  margin: 0 5px 0 0;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  font-size: 24px;
}
.card p {
  position: relative;
  font-size: 34px;
  margin: 0;
  bottom: 10px;
}
.card.red {
  color: red;
}
.card.black {
  color: black;
}
.card.compress {
  display: block;
  margin: 0 -33px 0 0;
}
.card.hidden {
  background-color: gray;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
